<section class="product__container">
    <div class="product-image__container">
        <img [src]="produto?.imagem" alt="">
    </div>
    <div>
        <div class="product-description__container">
            <h2 class="product__name">{{produto?.descricao}} </h2>
            <h3 class="product__price">{{produto?.preco | currency: "BRL"}} </h3>
            <p>Estoque Disponivel</p>
            <label for="">
                Quantidade:
                <input type="number" [(ngModel)]="quantidade">
                unidade(s)
            </label>
            <p class="product__avaiability">
                {{produto?.quantiadeEstoque}} unidades em estoque
            </p>
            <button type="button" (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
        </div>
    </div>
</section>